
h2 {
    margin-left: 80px;
    /*transform: rotate(-45deg);*/
    text-shadow: 0 0 5px #01579b;
}

.addr {
    width:300px;
}
.addr img{
    width: 200px;
}
.addr .description{
    text-indent: 2em;
}

footer{
	font-size: 13px;
	color: #666;
	margin-top: 30px;
	float: right;
}
footer img{
	border-radius: 50%;


.sidebar{
	float:left;
	width: 120px;
	background: #eee;
}
.container{
	margin-left: 122px;
	border-left:1px solid #66f;

}
	body{
		background:rgb(88,126,58);
